includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 1
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - src/Resources/skeleton/definition
    bootstrapFiles:
            - vendor/autoload.php
