{% if view is defined and view.actions|length > 0 %}
    <div aria-label="Aktionen">
        {% for action in view.actions %}
            {{ wwd_crud_render_action(action, view) }}
        {% endfor %}
    </div>
{% endif %}
