{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="whatwedo_crud:message relative {% if label == 'success' %}bg-success{% elseif label == 'warning' %}bg-warning{% elseif label == 'error' %}bg-danger{% else %}bg-primary{% endif %}" {{ stimulus_controller('whatwedo/crud-bundle/remove') }}>
            <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
                <div class="pr-16 sm:text-center sm:px-16">
                    <p class="font-medium text-sm text-white">
                        {{ message|trans|raw }}
                    </p>
                </div>
                <div class="absolute inset-y-0 right-0 pt-1 pr-1 flex items-start sm:pt-1 sm:pr-2 sm:items-start">
                    <button data-action="whatwedo--crud-bundle--remove#trigger" class="flex p-2 rounded-md hover:bg-neutral-600 hover:bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-white">
                        <span class="sr-only">Ausblenden</span>
                        {{ bootstrap_icon('x-circle', { class: 'h-5 w-5 text-white' }) }}
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
