{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block topbar %}
{% endblock %}

{% block main %}
    <div class="-m-4">

        <div class="bg-neutral-900 text-neutral-200 p-4 md:p-8 !py-24">
            <h2 class="whatwedo-utility-heading-2 text-neutral-400 mb-1">Dashboard</h2>
            <h1 class="whatwedo-utility-heading-1 text-neutral-100 mb-0">Grüezi 👋</h1>
        </div>

        <div class="m-4 md:m-8 !-mt-12 grid grid-cols-1 gap-4 overflow-hidden sm:grid-cols-2 lg:grid-cols-4">
            <div class="flex flex-col bg-neutral-300 p-8 pb-20 drop-shadow">
                <h4 class="text-base font-normal mb-2">Firmen im System</h4>
                <p class="text-3xl font-semibold text-neutral-800">3</p>

                <a href="#" class="absolute inset-x-0 bottom-0 px-8 py-4 bg-neutral-100/60 hover:bg-neutral-100/80 transition-colors">
                    <span class="font-semibold text-sm text-black">Details anzeigen</span>
                </a>
            </div>

            <div class="flex flex-col bg-neutral-300 p-8 pb-20 drop-shadow">
                <h4 class="text-base font-normal mb-2">Personen im System</h4>
                <p class="text-3xl font-semibold text-neutral-800">8</p>

                <a href="#" class="absolute inset-x-0 bottom-0 px-8 py-4 bg-neutral-100/60 hover:bg-neutral-100/80 transition-colors">
                    <span class="font-semibold text-sm text-black">Details anzeigen</span>
                </a>
            </div>

            <div class="flex flex-col bg-neutral-300 p-8 pb-20 drop-shadow">
                <h4 class="text-base font-normal mb-2">Artzbesuche heute</h4>
                <p class="text-3xl font-semibold text-neutral-800">2</p>

                <a href="#" class="absolute inset-x-0 bottom-0 px-8 py-4 bg-neutral-100/60 hover:bg-neutral-100/80 transition-colors">
                    <span class="font-semibold text-sm text-black">Details anzeigen</span>
                </a>
            </div>

            <div class="flex flex-col bg-neutral-300 p-8 pb-20 drop-shadow">
                <div class="flex justify-between">
                    <div>
                        <h4 class="text-base font-normal mb-2">Auslastung</h4>
                        <p class="text-3xl font-semibold text-neutral-800">60%</p>
                        <span class="text-sm font-medium text-neutral-500 mt-1">3% mehr zu gestern</span>
                    </div>

                    {{ bootstrap_icon('bar-chart-fill', {
                        width: '20px',
                        height: '20px',
                    }) }}
                </div>

                <a href="#" class="absolute inset-x-0 bottom-0 px-8 py-4 bg-neutral-100/60 hover:bg-neutral-100/80 transition-colors">
                    <span class="font-semibold text-sm text-black">Details anzeigen</span>
                </a>
            </div>
        </div>

        <div class="m-4 md:m-8 p-4 bg-white">
            <h1 class="whatwedo-utility-heading-1 mb-4">Hello DashboardController! ✅</h1>

            <p class="whatwedo-utility-paragraph mb-2">This friendly message is coming from:</p>
            <ul class="whatwedo-utility-paragraph">
                <li>Your controller at <code><a href="{{ '/var/www/src/Controller/DashboardController.php'|file_link(0) }}">src/Controller/DashboardController.php</a></code></li>
                <li>Your template at <code><a href="{{ '/var/www/templates/dashboard/index.html.twig'|file_link(0) }}">templates/dashboard/index.html.twig</a></code></li>
            </ul>
        </div>

    </div>
{% endblock %}
