{% extends 'base.html.twig' %}

{% block page_title %}{{ title | trans }}{% endblock %}

{% block page_actions %}
    <div class="btn-group pull-right btn-group-sm">
        {% block page_actions_additional %}{% endblock %}
        {% if voter_entity is not null and is_granted('create', voter_entity) %}
            <a href="{{ view.path('create') }}" class="btn btn-success">
                <i class="fa fa-plus"></i>
                {{ 'whatwedo_crud.add'|trans }}
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {{ table.renderTableBox|raw }}
        </div>
    </div>
{% endblock %}
