<main id="content" class="flex-1 relative z-0 overflow-y-auto focus:outline-none" {{ stimulus_controller('whatwedo/crud-bundle/filter') }}>
    {% include "@whatwedoCrud/includes/main/_breadcrumbs.html.twig" %}
    {% include "@whatwedoCrud/includes/main/_header.html.twig" %}
    {% include "@whatwedoCrud/includes/main/_filter.html.twig" %}
    {% include "@whatwedoCrud/includes/main/_table.html.twig" %}
    {% include "@whatwedoCrud/includes/main/_pagination.html.twig" %}
</main>
