<div class="hidden lg:flex lg:flex-shrink-0 bg-neutral-100">
    <div class="flex flex-col w-64 border-r border-neutral-200 pt-5 pb-4">

        <div class="whatwedo_crud-logo flex items-center flex-shrink-0 px-6">
            {% block logo %}
                <a href="{{ path('dashboard') }}">
                    <img class="h-6 w-auto" src="https://static.whatwedo.io/whatwedo-logo.svg" alt="whatwedo">
                </a>
            {% endblock %}
        </div>

        <div class="whatwedo_crud-navigation mt-5 flex-grow flex flex-col">
            {{ knp_menu_render('main', { 'template': '@whatwedoCrud/extensions/knp_menu_main.html.twig' }) }}
            {{ knp_menu_render('sub', { 'template': '@whatwedoCrud/extensions/knp_menu_sub.html.twig' }) }}
        </div>

        <div class="whatwedo_crud-sidedar flex-shrink-0 flex border-t border-neutral-200 p-4">
            <label for="search" class="sr-only">Search</label>
            <div class="mt-1 relative rounded-md shadow-sm w-full">
                <input
                    {{ stimulus_controller('whatwedo/core-bundle/select') }}
                    class="whatwedo_core-input"
                    name="search"
                    value=""
                    autocomplete="off"
                    placeholder="Suche ..."
                    type="text"
                >
            </div>
        </div>

        <div class="whatwedo_crud-profile flex-shrink-0 flex border-t border-neutral-200 p-4">
            <a href="#" class="flex-shrink-0 group block">
                <div class="flex items-center">
                    <div>
                        <img class="inline-block h-10 w-10 rounded-full" src="https://gravatar.com/avatar/afa65669a80f322677851fe6fbdfd080?s=80" alt="" crossorigin="anonymous" referrerpolicy="no-referrer">
                    </div>
                    <div class="ml-3">
                        <p class="text-base font-medium text-neutral-700 group-hover:text-neutral-900">
                            Ueli Banholzer
                        </p>
                        <p class="text-sm font-medium text-neutral-500 group-hover:text-neutral-700">
                            Profil anzeigen
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
