name: crudBundle

on:
    push:
        branches:
            - 1.0-dev
            - feature/1.0-dev-tree
    pull_request:
        branches:
            - 1.0-dev
            - feature/1.0-dev-tree

jobs:
    phpunit:
        runs-on: ubuntu-latest
        steps:
            - uses: shivammathur/setup-php@2cb9b829437ee246e9b3cac53555a39208ca6d28
              with:
                  php-version: '8.1'
            - uses: samin/mysql-action@v1.3
              with:
                  mysql root password: root
            - uses: actions/checkout@v2
            - name: Install Dependencies
              run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
            - name: Execute tests (Unit and Feature tests) via PHPUnit
              run: vendor/bin/simple-phpunit
#            - name: Check Code Styles
#              run: vendor/bin/ecs
